.row.registration_container
  .span6.offset3.round_box
    %h1.form_title= t('link_your_account')

    %p.center_text
      =t('link_your_account_explanation')

    %br
    .center_text
      = link_to(image_tag('sign-in-with-twitter.jpg', :style => 'display: inline'), signin_path)
