<tr><td><p class="title">
  Social Target® te da la bienvenida, <%= @user.email %>!
</td></tr>
<tr><td>
  <p class="body">
    <%= t('approve_text_1') %>
  </p>
  <p class="body">
    <%= t('approve_text_2') %>
  </p>
</td></tr>
