%p.style1
  %br/
  %span.style3

%p.style4
  = "Tu campaña #{@campaign.name} ha finalizado."
%p.style4
  Para ver los reportes de la campaña, imprimirlos y descargar en formato PDF,
  = link_to(t('sign_into_your_account'), statistics_advertiser_campaign_url(@campaign))
