
%p.style1
  %br/
  %span.style3

%p.style4
  Un usuario que no cumple con los requerimientos se ha postulado como celebridad y requiere ser aprobado,
  = @influencer.user.email
  !
  = @influencer.first_name
  = @influencer.last_name
  \--
  = @influencer.user.twitter_screen_name
