!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=ISO-8859-1", "http-equiv" => "Content-Type"}/
    %title Notificaciones BORWIN - It´s time to go Social!
    :css
      .style1 { font-size: 14px; font-family: Calibri; }
      .style2 { font-size: 12px; font-family: Calibri; color: #666666; }
      .style3 { color: #333333 }
      .style4 { font-size: 14px; font-family: Calibri; color: #333333; }
  %body
    %p.style1
      = image_tag attachments['logo.jpg'].url
    %p.style1
      %br/
      %span.style3

    %p.style4
      = "Gracias por registrarte en #{link_to('Borwin', 'http://www.borwin.net').html_safe}"
    %p.style4
      Tu cuenta no cumple con los requisitos para ser una "Celebridad".
    %p.style4
      Te hemos transferido a la categoría "Agencia" donde podrás generar ingresos refiriendo celebridades y empresas anunciantes.
    %p.style4
      Para conocer más sobre los beneficios que te ofrecemos ingresá en la sección referidos de tu perfil.
    %p.style4
      Muchas Gracias
    %p.style4
      = image_tag attachments['sellochico.jpg'].url
    %p.style4
      \--The Borwin Team
      %br/
      %em It’s time to go social!
      %br/
      %a{:href => "http://www.borwin.net"} http://www.borwin.net
    %p.style2 © 2012, Borwin Corporation