
%p.style1
  %br/
  %span.style3

%p.style4
  = "Gracias por registrarte en #{link_to('Social Target', 'http://www.social-target.net').html_safe}"
%p.style4
  Tu cuenta no cumple con los requisitos para ser una "Celebridad".
%p.style4
  Te hemos transferido a la categoría "Agencia" donde podrás generar ingresos refiriendo celebridades y empresas anunciantes.
%p.style4
  Para conocer más sobre los beneficios que te ofrecemos ingresá en la sección referidos de tu perfil.
%p.style4
  Muchas Gracias
