%p.title
  = "Su crédito en Social Target ha disminuido a $#{sprintf("%.02f", @user.balance)}"

%p.body
  Si desea cargar crédito a fin de crear nuevos Tweets para su campaña, contactese con Social Target.

%p.body
  Para ver los movimientos de su cuenta,
  = link_to("ingrese a su cuenta", advertiser_transactions_url)
