<tr><td><p class="title">
  Este es un test
</p></td></tr>
<tr><td>
  <p class="body">
    Este es el cuerpo del mensaje. Mira el link: <%= link_to("Rorra Technology Services LLC", "http://www.rorra.com.ar") %>
  </p>
  <p class="body">
    Este es otro mensaje en el cuerpo del mail.
  </p>
</td></tr>
