%p.title
  = "#{@tweet.campaign.advertiser.company} ha cancelado una propuesta de tweet."
%p.body
  = render partial: 'tweet_details'
%p.body
  Para ver los detalles del tweet rechazado
  = link_to("entrá a tu cuenta", influencer_tweet_url(@tweet))
