%p.title
  = "#{@tweet.campaign.advertiser.company} ha aceptado las modificaciones a una propuesta del tweet y esta listo para publicarse."
%p.body
  = render partial: 'tweet_details'
%p.body
  Para ver los detalles del tweet,
  = link_to("entrá a tu cuenta", influencer_tweet_url(@tweet))
