
%p.style1
  %br/
  %span.style3

%p.style4
  Uno de tus tweets ha sido públicado en twitter.
%p.style4
  = render partial: 'tweet_details'
%p.style4
  Para ver los detalles,
  = link_to("entrá a tu cuenta", influencer_tweet_url(@tweet))
