%p.title
  Uno de tus tweets ha sido públicado en twitter.
%p.body
  = render partial: 'tweet_details'
%p.body
  Para ver los detalles del tweet,
  = link_to("entrá a tu cuenta", advertiser_campaign_tweet_url(@tweet.campaign, @tweet))
