%p.style1
  %br/
  %span.style3

%p.style4
  = "#{@tweet.campaign.advertiser.company} ha cancelado una propuesta de tweet."
%p.style4
  = render partial: 'tweet_details'
%p.style4
  Para ver los detalles del tweet rechazado
  = link_to("entrá a tu cuenta", influencer_tweet_url(@tweet))
