%p.style1
  %br/
  %span.style3

%p.style4
  =t('tweet_creation_text_1')
%p.style4
  = render partial: 'tweet_details'
%p.style4
  Para aceptar, revisar o rechazar el tweet,
  = link_to("entrá a tu cuenta", influencer_tweet_url(@tweet))
