%p.title
  = "#{@tweet.influencer.full_name} ha aceptado una propuesta de un tweet y esta listo para publicarse."
%p.body
  = render partial: 'tweet_details'
%p.body
  Para ver los detalles del tweet aceptado
  = link_to("entrá a tu cuenta", advertiser_campaign_tweet_url(@tweet.campaign, @tweet))
