%p.title
  = "#{@tweet.influencer.full_name} ha rechazado una propuesta de tweet."
%p.body
  = render partial: 'tweet_details'
%p.body
  Para ver los detalles del tweet rechazado
  = link_to("entrá a tu cuenta", advertiser_campaign_tweet_url(@tweet.campaign, @tweet))
