%p.style1
  %br/
  %span.style3

%p.style4
  = "#{@tweet.influencer.full_name} ha modificado tu propuesta de tweet, puedes rechazar la modificaci칩n y cancelar la propuesta, realizar una nueva modificaci칩n o aceptar los cambios."
%p.style4
  = render partial: 'tweet_details'
%p.style4
  Para aceptar las modificaciones, rechazar el tweet o realizar una modificaci칩n a la propuesta,
  = link_to("entr치 a tu cuenta", advertiser_campaign_tweet_url(@tweet.campaign, @tweet))
