%p.style4 Bienvenido a Social Target!
%p.style4
  Por favor, haz #{link_to 'click aqui', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)} para confirmar tu cuenta de email.
%p.style4 Si no funciona el link de arriba, por favor pegue el siguiente link en su navegador de Internet:
%p.style4
  = confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)
%p.style4 Gracias por utilizar SOCIAL TARGET!
