.row
  .span8.offset2
    .frontend_round_content

      .title Borwin - It's Time to Go Social!

      %p
        Somos una empresa especializada en marketing en redes sociales.
      %p
        A través de nuestra plataforma conectamos a las empresas con su target en twitter.
      %p
        Le permitimos a los anunciantes llegar de forma  eficaz a millones de consumidores, brindándole la posibilidad de realizar campañas de marketing online de forma efectivas simple y medible.
      %br
      %p
        = link_to("Contactarme con un representante", home_advertisers_contact_path, :class => 'btn btn-large btn-primary')


