.row
  .span8.offset2
    .frontend_round_content

      %p
        TweetGo! Es una plataforma que le permite a las empresas contactarse con su target a través del Twitter de las celebridades mas influyentes.

      %p
        Nuestra plataforma online encuentra donde está el público al que tu marca quiere llegar. Permite segmentarlo por edad, sexo, lugar de residencia, sus hobbys y muchas cosas más.
      %p
        ¿Querés llegar a 1millon de jóvenes fanáticos del deporte? ¿Querés conectar tu marca con 2 millones de adolescentes que vivan en Buenos Aires?
      %p
        ¡En BORWIN te decimos como!
      %p
        = link_to("Más información", home_advertisers_contact_path)
