.row
  .span12
    .frontend_round_content.center_text
      = '<iframe src="http://app.sliderocket.com:80/app/fullplayer.aspx?id=A7F13876-652A-7ACD-ABC7-41AD43721CC1" width="640" height="506" scrolling=no frameBorder="0"></iframe>'.html_safe
