<%- content_for :head do %>
  <%= javascript_include_tag('home.js') %>
<%- end %>

<%= render '/shared/flash', flash: flash %>

<!-- Three columns of text below the carousel -->
<div class="row"><!-- /.span4 --><!-- /.span4 --><!-- /.span4 -->
</div><!-- /.row -->

<div class="featurette">
  <h2 class="featurette-heading">Marcas. <span class="muted">Plataforma &quot;Self-Service&quot;.</span></h2>
  <p class="lead">Si eres  representante de una marca puedes crear tú mismo una campaña de marketing o publicidad a través del Twitter de los famosos más relevantes. Desde Social Target estamos a tu disposición para asesorarte durante todo el proceso.</p>
  <p class="lead"><img src="/assets/imagenes/marca.jpg" alt="Marca"></p>
</div>
<div class="featurette">
  <a href="<%= contact_path %>">Más información</a>
  <a href="<%= affiliate_devise_registration_path %>">- Regístrate</a>
</div>

<hr class="featurette-divider">
