.row
  .span8.offset2
    .frontend_round_content

      %h3
        Monetizá tu presencia en Twitter

      %p
        Te conectamos con empresas interesadas en tu audiencia que te pagan por tus tweets sponsoreados.

      %p
        Es simple
      %ol
        %li Te das de alta en nuestra plataforma de marketing online: TweetGo!
        %li La plataforma define el precio de tus tweets a través de una combinación de métricas
        %li Activamos tu cuenta

      %p
        = link_to("Date de alta ahora en TweetGo!", new_user_registration_path)

      %p
        = link_to("Más información", home_influencers_contact_path)
