.row
  .span8
    .frontend_round_content

      .title
        Monetizá tu presencia en Twitter

      %p
        Te conectamos con empresas interesadas en tu audiencia que te pagan por tus tweets sponsoreados.

      %p
        Es simple
      %ol
        %li Te das de alta en nuestra plataforma de marketing online: TweetGo!
        %li La plataforma define el precio de tus tweets a través de una combinación de métricas
        %li Activamos tu cuenta

      %p
        = link_to("Date de alta ahora en TweetGo!", new_user_registration_path)

      %p
        = link_to("Más información", home_influencers_contact_path)
      %br

  .span4
    .frontend_round_content
      %ul.nav.nav-pills.nav-stacked
        %li.active
          %a{:href => home_influencers_about_path} Visión General
        %li
          %a{:href => home_influencers_contact_path} Contáctenos

