<%- content_for :head do %>
  <%= javascript_include_tag('home.js') %>
<%- end %>

<%= render '/shared/flash', flash: flash %>




<!-- Three columns of text below the carousel -->
<div class="row"><!-- /.span4 --><!-- /.span4 --><!-- /.span4 -->
</div><!-- /.row -->

<div class="featurette">
  <h2 class="featurette-heading">Prensa. <span class="muted">Logos y material gráfico.</span></h2>

  <p class="lead">Aquí encontrarás los logos y material gráfico de Social Target que podrás utilizar libremente en tus
    publiciaciones. Para mejorar tu material te ofrecemos contactarnos. Estaremos muy contentos de ayudarte. También
    podrás programar entrevistas con nuestro fundador. Puedes escribirnos a
    <a href="mailto:prensa@socialtarget.net">prensa@socialtarget.net</a></p>

  <p class="lead"><img src="/assets/imagenes/empresa.jpg" alt="Empresa"><br>
    <br>
    Logos: </p>

  <p class="lead">
    <img src="/assets/imagenes/Logotransparente.png" alt="LogoTransparente"><br>
    <img src="/assets/imagenes/logocompleto.png" alt="Logo">
  </p>

  <p class="lead">
    <img src="/assets/imagenes/st.png" alt="st">
    <br/>
  </p>

  <p class="lead">&nbsp;</p>
</div>
<div class="featurette"></div>

<hr class="featurette-divider">

<!-- /END THE FEATURETTES -->