.row
  .span10.offset1
    .frontend_round_content.terms_container

      %h3 Política de privacidad
      %p.small
        Última actualización: 20 de abril 2012
      %p
        %b Nuestro compromiso de privacidad
        %br
        BORWIN S.R.L. ("BORWIN", "nosotros", "nos" o "nuestro") se compromete a respetar los derechos de privacidad y las preocupaciones de todos los usuarios de BORWIN® (BORWIN en adelante, bajo http://borwin.com.ar y sus derivados) y TweetGo! sitios Web donde se publica esta Política de Privacidad (el "Sitio (s)") (nos referimos al sitio (s) y los servicios que se ofrecen a través del Sitio (s), en conjunto, bajo las "Características BORWIN" también refiriéndonos al alcance de los productos BORWIN). Como tal, hemos establecido e implementado esta política de privacidad para informar a los visitantes del sitio (s) y los usuarios de las características BORWIN cómo usamos y protegemos la información que recopilamos a través del Sitio (s). Al visitar el Sitio (s) o usando alguna de las características BORWIN, usted autoriza la recolección de BORWIN, uso, almacenamiento, eliminación y divulgación de información relacionada con usted como se establece en esta Política de Privacidad. Esta Política de Privacidad es efectiva a partir de la fecha indicada arriba, y sólo es aplicable al sitio (s) y no a cualquier otro sitio web que usted puede ser capaz de acceder desde el sitio (s) que puede tener su propia colección de datos y el uso prácticas y políticas.
        %br

      %p
        Esta política responde a las preguntas siguientes:

      %p
        ¿Qué información que recopilamos sobre usted y cómo la usamos?
        %br
        ¿Vamos a compartir su información personal con terceros?
        %br
        ¿Qué opciones tiene usted acerca de la recopilación y uso de su información personal?
        %br
        ¿Qué medidas de seguridad tomamos para proteger su información personal?
        %br
        ¿QUÉ INFORMACIÓN RECOGEMOS SOBRE USTED Y CÓMO SE USA?

      %p
        Tipos de información que recopilamos: La información personal significa información que se puede utilizar para identificar y ponerse en contacto con usted. No es necesario someter la información personal para acceder a ciertas áreas del sitio (s), pero si usted no quiere revelar cierta información personal a nosotros, usted no será capaz de acceder a determinados aspectos de las características BORWIN.
      %p
        Recopilamos información personal cuando se crea una cuenta a través de las funciones de BORWIN, participar en encuestas, encuestas y cuestionarios, participar en concursos, sorteos u otras promociones, colocar anuncios publicitarios en un feed o participación de Twitter, o permitir que su feed en Twitter pueda ser "patrocinado" o recibir al cliente o soporte técnico.
      %p
        Para crear una cuenta bajo las características BORWIN, se requiere que proporcione su nombre, fecha de nacimiento, dirección de correo electrónico, nombre de Twitter de pantalla, dirección de correo y número de teléfono. Cuando usted está poniendo anuncios o vender productos a través de las funciones de BORWIN, además de la información anterior, se le pedirá su dirección de facturación, número de teléfono y tarjeta de crédito o información de pago. También puede elegir que nos proporcione sus nombres de pantalla de algunos programas de mensajería instantánea (como MSN, Windows Live Messenger, Yahoo Messenger y Skype) que puede utilizar si desea contactar con usted a través de mensajería instantánea.
      %p
        Además, también podemos recopilar otro tipo de información (conocidos como información demográfica), como su sexo, aficiones, ocupación, preferencias de la plataforma, y otra información similar. Esta información demográfica puede estar asociada con su información personal.
      %p
        Cómo usamos su información personal: La información personal que usted nos proporcione nos permitirá cumplir con las ubicaciones de publicidad, cumplir con sus ventas de productos, que le avise de nuevos productos o servicios, características o mejoras, o manejar sus rutas de preguntas o problemas de servicio al cliente, y/o que le notifique de la mejorar las oportunidades, concursos, promociones o eventos especiales y ofertas. También utilizamos su dirección de correo electrónico para enviar mensajes acerca de las características BORWIN y otros anuncios generales. Si usted nos da sus nombres de pantalla de mensajería instantánea, que será capaz de contactar con usted a través de los nombres de pantalla de mensajería instantánea que usted envíe, sin embargo, los nombres de pantalla no se harán públicos a disposición de otros usuarios.
      %p
        Tenemos un seguimiento de sus interacciones con nosotros, incluyendo pero no limitado a su actividad dentro de las funciones de BORWIN. Podemos utilizar la información personal que usted nos proporciona para enviar mensajes a usted en respuesta a su solicitud para realizar una actividad en relación con el uso de cualquiera de las funciones BORWIN. También podemos utilizar su información personal para comunicarnos con usted cuando sea necesario.
      %p
        COOKIES: Las "cookies" son pequeños fragmentos de información electrónica que un sitio web envía al navegador del visitante y se almacenan en el disco duro del visitante. Al igual que muchos sitios web, utilizamos cookies en ciertas áreas del sitio (s) que nos permita proporcionar la información que se ajuste a sus intereses y hacer de su experiencia en línea más conveniente. Por ejemplo, cuando usted regresa a uno de nuestros sitios web después de iniciar sesión, las cookies proporcionan información a la página web para que el sitio web se recuerda quién eres. En caso de deshabilitar las cookies en su navegador, usted tendrá que proporcionar su nombre de usuario y contraseña cada vez que inicie sesión en nuestro servidor.
      %p
        Información de registro: Nuestros servidores registran automáticamente la información que su buscador envía cada vez que visite el Sitio (s). Esta información incluye su dirección de Protocolo Internet (IP), el tipo de navegador y versión, el motor de búsqueda que usted utiliza para encontrar las características BORWIN, en su caso, el sistema operativo que utiliza su computadora, que funciones utiliza en BORWIN y cuándo y cuánto tiempo se utilizan los mismos. Utilizamos esta información para monitorear y analizar cómo los usuarios utilizan las funciones de BORWIN, para proporcionar servicio al cliente y para mantener y mejorar las características BORWIN.
      %p
        Privacidad de los Niños: Nosotros no recopilamos información personal de niños menores de 13 años. Nos tomamos la privacidad de los niños como prioridad, y alentamos a los padres a desempeñar un papel activo en la experiencia de sus hijos en línea en todo momento.

      %p
        Compartiremos su información personal con los terceros países?
      %p
        Intercambio de información: Podemos utilizar su información personal para ofrecer los análisis de nuestros usuarios en el conjunto de posibles socios, anunciantes y otros terceros. También podemos divulgar y utilizar, de forma anónima, la afiliación, la posición, intereses y demás información no personal sobre los clientes.
      %p
        Además, vamos a compartir la información personal que obtenemos de usted en las siguientes circunstancias:

      %p
        Protección de los derechos. Vamos a compartir información personal si creemos de buena fe de que (i) el acceso, uso, conservación o divulgación de dicha información es razonablemente necesario para cumplir con las leyes, regulaciones, procesos legales, tales como una orden judicial o citación, o un solicitud de aplicación de la ley o las autoridades gubernamentales, (ii) dicha acción es apropiado para hacer cumplir las Condiciones de Uso de las funciones BORWIN, incluyendo cualquier investigación de posibles violaciónes de los mismos, (iii) dicha acción es necesaria para detectar, prevenir, o gestionar el fraude , problemas de seguridad o técnicos relacionados con las características BORWIN, o (iv) la acción es apropiado para proteger los derechos, propiedad o seguridad de BORWIN, sus empleados, los usuarios de las características BORWIN u otros.
      %p
        Transferencias de activos. Si nos involucramos en una fusión, adquisición o cualquier otra transacción que implique la venta de algunos o todos los activos de BORWIN, la información del usuario, incluyendo la información personal obtenida de usted a través del uso de las características BORWIN, podrían ser incluidos en los activos transferidos. Si tal evento ocurra, vamos a utilizar los medios razonables para que le notifique, ya sea a través de correo electrónico y/o un aviso destacado en el sitio (s).
      %p
        Los proveedores de servicios. Podemos compartir su información personal con proveedores de servicio que nos comprometemos con el propósito de procesar la información en nuestro y vuestro nombre. Por ejemplo, es posible que se han asociado con otras empresas para mantener o administrar las características de BORWIN, el cumplimiento de las órdenes de compra para los pagos de publicidad o de transformación. Además, podemos asociarnos con otras compañías para procesar las encuestas de consumo, entrega de premios, o para procesar, analizar y/o almacenar datos. Si bien la prestación de servicios para nosotros, estas empresas pueden acceder a su información personal. En la medida aplicable, se requiere a estas entidades a cumplir con esta Política de Privacidad y confidencialidad y medidas de seguridad.

      %p
        Información adicional que debe saber sobre Terceros: Esta política de privacidad no cubre las prácticas de información de los sitios web de terceros vinculados a este Sitio (s). A pesar de que alentar a los terceros a adoptar y seguir sus propias políticas de privacidad, no somos responsables de su recolección y uso de su información personal. Usted debe referirse a las políticas de privacidad y las declaraciones de otros sitios web o ponerse en contacto con los webmasters de esos sitios web respectivos para obtener información sobre la recogida de información, uso y políticas de divulgación.
      %p
        Cuando haya hecho click en un anuncio o un logotipo de terceros que aparece en nuestro sitio (s) que lo conecta a un sitio web diferente, nuestra política de privacidad no se aplica y se debe leer la política de privacidad del anunciante para ver cómo su información personal será manejado en su página web.

      %p
        ¿Qué opciones TIENE SOBRE LA OBTENCIÓN Y UTILIZACIÓN DE SU INFORMACIÓN PERSONAL?
      %p
        Control de su información: Usted puede eliminar su cuenta (y por lo tanto su información personal) en cualquier momento accediendo a TweetGo! Y seleccionar "Eliminar cuenta" en la zona de las características BORWIN, también enviando un correo electrónico o notificarnos a nosotros por teléfono. Tenga en cuenta que cuando se elimina su cuenta, podemos conservar la información de su cuenta durante un período razonable de tiempo después con el propósito de la gestión de cuentas interna y actividades de prevención del fraude.
      %p
        La opción de las comunicaciones que reciben de nosotros: La única manera para que usted pueda darse de baja de las comunicaciones que reciben de nosotros, incluidos los mensajes relativos a las transacciones de su cuenta, es eliminando su cuenta.
      %p
        Mediación: Si usted es un residente de un país fuera de la Unión Europea, también de acuerdo en que, en caso de cualquier controversia o reclamo que surja de o esté relacionada con esta Política de Privacidad, usted y BORWIN intentará de buena fe para negociar directamente una resolución por escrito de la cuestión. Usted acepta que si el asunto sigue sin resolverse durante cuarenta y cinco (45) días después de la notificación (por correo certificado o entrega personal) que existe una controversia, las partes deberán participar en los servicios de mediación en Capital Federal, Buenos Aires, con un mediador de común acuerdo en un tratar de resolver la disputa. En caso de presentar cualquier reclamo de arbitraje, o cualquier acción administrativa o judicial, sin haber tratado primero de resolver el asunto por la mediación, a continuación, usted acepta que no tendrá derecho a recuperar los honorarios de abogado, incluso si usted tendría derecho a ellas.
      %p
        Resolución de Disputas para los residentes de la Unión Europea: Si usted es un residente de la Unión Europea, en el caso de que tenga cualquier controversia o reclamo que surja de o esté relacionada con esta Política de Privacidad, usted puede presentar su reclamación a las autoridades de la Unión Europea de protección de datos ubicados en su jurisdicción.

      %p
        Qué medidas de seguridad que tomamos para proteger tu información personal?
      %p
        La información personal que usted nos proporciona se almacena en los servidores, los cuales se encuentran en instalaciones seguras con acceso restringido, y protegido por los protocolos y procedimientos diseñados para garantizar la seguridad de dicha información. Además, restringir el acceso a la información personal a los empleados BORWIN, contratistas independientes y agentes que necesitan conocer esta información con el fin de desarrollar, operar y mantener las características BORWIN. Todo el personal BORWIN que tienen acceso a esta información están capacitados en el mantenimiento y la seguridad de dicha información. Sin embargo, ninguna transmisión de servidor, ordenador o red de comunicaciones o del sistema, o los datos a través de Internet se puede garantizar que sea 100% segura. Como resultado, mientras nos esforzamos por proteger la información del usuario, no podemos asegurar o garantizar la seguridad de cualquier información que usted transmita a nosotros oa través de la utilización de cualquiera de las funciones BORWIN y usted reconoce y acepta que nos proporcionen esa información y participar en tales transmisiones a su propio riesgo. Una vez que recibimos una transmisión suya, haremos todo lo posible para mantener su seguridad en nuestros sistemas.
      %p
        Directiva de la Comisión Europea de Protección de Datos - Puerto Seguro
      %p
        BORWIN se adhiere a los principios de puerto seguro de que fueron establecidas por el Departamento de Comercio de EE.UU., en consulta con la Comisión Europea para cumplir la Directiva de la Comisión Europea de Protección de Datos.
      %p
        Notificación de cambios: Esta Política de Privacidad puede cambiar de vez en cuando y vamos a publicar todos los cambios en esta página.


      %h3 ¿Preguntas?
      %p
        Contacte con nosotros
      %p
        Si usted tiene alguna pregunta sobre nuestras prácticas de privacidad o esta Política de Privacidad, por favor contacte con nosotros por correo electrónico a privacidad@borwin.com.ar

      %h3 Términos y Condiciones de Uso
      %p
        Por favor, lea los Términos y Condiciones de uso del Servicio en línea que rigen el uso del sitio (s) y las caracterís
