.row
  .span8.offset2
    .frontend_round_content

      %h2 TweetGo!

      %p
        Cre치 y administr치 las campa침as de marketing y publicidad m치s efectivas de twitter

      = link_to("Registrarse", new_user_registration_path, :class => 'btn btn-primary btn-large')
      = link_to("Loguearse", new_user_session_path, :class => 'btn btn-primary btn-large')

