.row
  .span8.offset2
    .frontend_round_content

      .title Trabajá con nosotros
      %br

      %h4 DESAROLLADOR RUBY
      %p
        Descripcion del puesto y para aplicar rellenar el siguiente formulario:
        %br
        = link_to("http://izea.com/about-izea/careers/career-application/", "http://izea.com/about-izea/careers/career-application/")
      %br

      %h4 CREATIVO PUBLICITARIO
      %p
        Descripcion del puesto y para aplicar rellenar el siguiente formulario:
        %br
        = link_to("http://izea.com/about-izea/careers/career-application/", "http://izea.com/about-izea/careers/career-application/")
      %br

      %h4 MARKETING
      %p
        Descripcion del puesto y para aplicar rellenar el siguiente formulario:
        %br
        = link_to("http://izea.com/about-izea/careers/career-application/", "http://izea.com/about-izea/careers/career-application/")
      %br

      %h4 Contáctenos
      %p
        Para mas información, mandanos un mail a
        = link_to("rrhh@borwin.com.ar", "mailto: rrhh@borwin.com.ar")
      %br



