.row
  .span8
    .frontend_round_content

      .title Trabajá con nosotros

      %h4 Desarrollador ruby
      %p
        Buscamos un desarrollador con experiencia y ganas de crecer profesionalmente.
      %br

      %h4 Marketing
      %p
        Buscamos un estudiante de la carrera de  Marketing con ganas de aprender y desarrollarse en Marketing en Redes Sociales.
      %br

      %h4 Administración
      %p
        Buscamos un Licenciado en Administración de Empresas preferentemente con experiencia en las áreas de marketing y ventas.

      %br
      %br
      %p
        Si querés postularte para alguno de los puestos de trabajo que ofrecemos en Borwin, envianos un email a
        = link_to("rrhh@borwin.com.ar", "mailto: rrhh@borwin.com.ar")
        indicando en el título el puesto requerido.

  .span4
    .frontend_round_content
      %ul.nav.nav-pills.nav-stacked
        %li
          %a{:href => about_us_path} La Empresa
        %li
          %a{:href => press_path} Prensa
        %li.active
          %a{:href => work_with_us_path} Trabajá con Nosotros
        %li
          %a{:href => contact_path} Contáctenos

