.row
  .span6.offset3.round_box
    = simple_form_for(@user, url: admin_advertisers_path, method: :post, html:  { class: "form-horizontal round_form", method: :put }) do |f|
      %h1.form_title Anunciante
      = render partial: 'form', locals: {f: f}

      .form-actions
        = f.submit 'Guardar', :class => 'btn btn-primary btn-large'
        = link_to 'Cancelar', [:admin, :advertisers], class: 'btn btn-large'

