.contact
  background: #00aef0
  color: #004669
  form
    background: #00aef0
    display: inline-block
    background: #006da4
    padding: 22px 0px 
    border-radius: 5px
    input
      margin: 0px
      margin: 0 auto
.featurette
  img
    min-width: 0px
    height: 70%
    float: right
  .iconn
    height: 104px
    position: relative
    margin-right: 15px
    float: left
.footer
  p
    margin: 10px 0 0px
  .priv
    display: inline-block
    float: left
    a
      color: #00aef0  
  .menu
    color: #fff
  .cpy
    color: #00aef0
.influ_info
  img
    margin: 20px 0px
    
