.page
  .main_car
    margin-bottom: 0px
  .icon
    width: 250px
    position: relative
    height: 250px
  header
    padding: 20px
    border-bottom: 8px solid #00aef0
    color: #fff
  .advertisers
    background: url(imagenes/slider/anunciante.png) center
  .affiliates
    background: url(imagenes/slider/influenciador.png) center
  .influencer
    background: url(imagenes/slider/influenciador.png) center

.navsecond
  background: #fff
  text-shadow: 0 0px 0 rgba(0, 0, 0, 0)
  position: relative
  margin-bottom: 0px
  padding: 5px 0px 10px 0px
  border-bottom: 1px solid #e1e1e1
  li
    text-shadow: 0 0 0 rgba(255, 255, 255, 0) !important
    a
      &:hover
        color: #0088cc !important

.info_page
  background: #efefef
  text-align: center
  padding: 20px

.center
  text-align: center
.register
  border-right: 1px solid #ccc
  margin-top: 25px
  img
    width: 80%
  ul
    margin: 35px 0px 10 !important
  li
    display: inline-block

.hid
  display: none
.form_advertirser
  display: none