- if flash.any?
  .row
    .span12
      = render '/shared/flash', flash: flash

.row
  .span12
    .round_box
      .content
        .right
          = link_to('Crear Nueva Campaña', [:new, :advertiser, :campaign], class: 'btn btn-primary')
        %h1.title Campañas


        %h2
          Todavía no has creado ninguna campaña.

        %br
        %br

        - if current_user.advertiser.can_create_campaigns?
          = link_to("Crear Nueva Campaña", [:new, :advertiser, :campaign], class: 'btn btn-primary')
