dl.record_details
  width: 100%
  overflow: hidden
  dt
    float: left
    width: 30%
    text-align: right
  dd
    float: left
    width: 69%

#filter_form
  .control-group
    margin-bottom: 4px

.show_buttons
  margin: 0 0 30px 0