.row
  .span12
    .round_box
      .content
        .title Transacciónes Personales

        %table.table.table-striped
          %thead
            %tr
              %th Tweet
              %th Fecha Publicación
              %th Anunciante
              %th Monto del Tweet
              %th Tipo de Campaña
              %th Monto Neto
              %th Estado
%br
%br
%br
%br
