@import "compass"
@import "bootstrap"

.main_container
  margin-top: 100px

.container
  margin-left: auto
  margin-right: auto
  width: 940px

.center_text
  text-align: center

// Header updates
.navbar .nav
  margin-top: 16px

// Footer updates
.footer
  margin: 0 auto
  width: 100%
  text-align: center

// Registration
.registration_container
  h1.center_text
    height: 60px
.twitter_registration
  .twitter_registration_link img
    margin: 20px 0 80px 0
.terms_and_conditions
  margin-bottom: 30px
.sign-links
  margin-bottom: 40px

// Login
.login_container h1
  height: 100px

// Forms updates
.form-actions
  background-color: transparent
  border: 0 none

.round_form
  @include border-radius(8px)
  background-color: #F5F5F5
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset
  border: 1px solid #F5F5F5

.form_title
  text-align: center
  margin: 10px 0 20px 0
  font-size: 30px
  line-height: 36px
  font-weight: bolder
