@import "compass"
@import "bootstrap"

.main_container
  margin-top: 60px

.container
  margin-left: auto
  margin-right: auto
  width: 940px

.center_text
  text-align: center

// Footer updates
.footer
  margin: 0 auto
  width: 100%
  text-align: center

// Login page
.login_container
  h1.center_text
    height: 100px
