@import "compass"
@import "bootstrap"

.main_container
  margin-top: 60px

.container
  margin-left: auto
  margin-right: auto
  width: 940px

// Footer updates
.footer
  margin: 0 auto
  width: 100%
  text-align: center
