#home_carousel
  margin: 10px 0 30px 0
  @include single-box-shadow(#888 10px 10px 5px)
  .blue
    color: #1e92d3
  .item
    background: url('/assets/bg_carousel.png') repeat-x scroll 0 267px #FFF
    height: 524px
    width: 940px
    .title
      font-family: 'Basic', sans-serif
      font-size: 36px
      line-height: 1.2em
      letter-spacing: -0.04em
    .subtitle
      font-family: 'Basic', sans-serif
      font-size: 18px
      line-height: 1.6em
      letter-spacing: -0.04em
  .slide1
    background-image: url('/assets/home_slide_1.png')
    height: 524px
    width: 940px
    .title
      padding: 40px 0 0 80px
    .subtitle
      padding: 10px 0 0 80px
      font-size: 24px
    .button
      padding: 10px 0 0 80px
  .slide2
    background-image: url('/assets/home_slide_2.png')
    height: 524px
    width: 940px
    .title
      padding: 36px 0 0 560px
      letter-spacing: -0.06em
    .subtitle
      padding: 30px 0 0 560px
    .button
      padding: 10px 0 0 560px
  .slide3
    background-image: url('/assets/home_slide_3.png')
    height: 524px
    width: 940px
    .title
      padding: 40px 0 0 80px
    .subtitle
      padding: 10px 0 0 80px
    .button
      padding: 10px 0 0 80px
  .slide4
    background-image: url('/assets/home_slide_4.png')
    height: 524px
    width: 940px
    .title
      padding: 36px 0 0 80px
    .subtitle
      padding: 20px 0 0 80px
    .button
      padding: 10px 0 0 80px

