%p
  Hola
  = @resource.email
 
%p Se ha requerido resetear la contraseña de tu cuenta. Para hacerlo haz click en el siguiente link.

= link_to 'Resetear mi contraseña', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)

%p Si no has requerido resetear la contraseña, ignora este email.
%p La contraseña no va a cambiar y podrás logearte con tu contraseña actual.