.row
  .span12
    .round_box
      .content.clearfix
        .title Tweets

        - if false
          %table.table.table-striped
            %thead
              %tr
                %th Nombre
                %th Descripción
                %th Estado
                %th Tweets
        - else
          %h3 No posee tweets en el sistema.
%br
%br
%br